<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>footerfeaturedazl</name>
	<displayName><![CDATA[Featured products on the footer]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Displays featured products in the footer.]]></description>
	<author><![CDATA[Azelab]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>